.fp-main-header {
  padding: var(--fp-space-default) 0;
  border-top: var(--fp-section-border);
  border-bottom: var(--fp-section-border);
  display: flex;
  justify-content: flex-end;

  &__nav {
    text-transform: uppercase;

    a {
      &:not(:last-child) {
        margin-right: var(--fp-space-default);
      }
    }
  }
}

.fp-page-header {
  padding: var(--fp-space-md) 0;

  h1,
  h2 {
    text-align: center;
  }
}
