.fp-article {
  &__header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 30px 1fr;
    grid-template-rows: repeat(8, auto);

    img {
      grid-column: 1 / span 2;
      grid-row: 1 / span 8;
      aspect-ratio: 9 / 13;
      object-fit: cover;
    }

    h1 {
      font-size: 5rem;
      line-height: 1;
      text-align: left;
      //   white-space: nowrap;
      grid-row-start: 5;
      grid-column: 2 / span 2;
      text-shadow: -2px 2px 2px rgba(255, 255, 255, 0.5);
    }
  }
}
