html,
body {
  // font-family: "xanti-typewriter-variable", sans-serif;
  // font-variation-settings: "wght" 800;
  font-family: "mokoko-variable", sans-serif;
  font-variation-settings: "wght" 500;
  font-size: 16px;

  // making sure the fonts will render the same across different web browsers
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}