/*
  None of these styles are necessary.
  Feel free to remove everything.
*/

@import "~normalize.css/normalize";

@import "vars";
@import "base/base.colors";
@import "base/base.spacing";
@import "base/base.typography";
@import "base/base.section";

@import "components/components.header";

@import "pages/pages.article";

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
}

.form-group {
  margin: 30px 0;
}

label {
  display: block;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  width: 100%;
}
