<header class="fp-main-header">
  <nav class="fp-main-header__nav">
    <a href="/">Home</a>
    <a href="/curriculum-vitae">About</a>
    <a href="/freelance-ui-specialist">Work</a>
    <a href="/blog">Blog</a>
    <a href="/contact">Contact</a>
  </nav>
</header>