{{#> layouts/article }}

{{#*inline "page-content"}}
<header class="fp-article__header">
    <img src="../images/2.jpg" alt="">
    <h1>Is AI gonna prevail?</h1>
</header>
<section>
    <div>
        <h3>Used for demonstration purposes</h3>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam iure ut sit obcaecati quo doloribus
            unde.
            Incidunt, iste. Veniam at magni repudiandae doloremque laboriosam praesentium aperiam sapiente nostrum sunt
            cum?
        </p>
    </div>
    <aside>
        <h3>Used for demonstration purposes</h3>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </p>
    </aside>
</section>
{{/inline}}

{{/layouts/article}}