{{#> layouts/base title="FabriPalladino | Blog Section"}}

{{#*inline "content-block"}}
<ul>
    <li>
        <a href="/article-1">Article</a>
    </li>
    <li>
        <a href="/article">Article 1</a>
    </li>
    <li>
        <a href="/generic">Test page</a>
    </li>
</ul>
{{/inline}}

{{/layouts/base}}