{{#> layouts/about }}

{{#*inline "page-content"}}
<h1>UI Specialist</h1>
<section>
    <div>
        <p>
            After my studies in Management of publishing enterprises, I fell in love with HTML CSS and their potential,
            and that passion then broaden to include everything that makes the web usable, accessible and reliable.
            I now build accessible interfaces using HTML CSS and Javascript
        </p>
    </div>
    <aside>
        <img src="../images/3.jpeg" alt="">
    </aside>
</section>
<section>
    <div>
        <h2>Core Skills</h2>
        <p>
            Hand-code HTML and CSS to W3C standards and have a strong understanding of WCAG 2.0 and front-end best
            practices.

            I always focus my attention on optimizing the architecture to ensure the most seamless and adapted user
            experience possible for all types of end-users.
        </p>
        <p>

            Frameworks change every year, people don't.
        </p>
    </div>
    <aside>
        <dl>
            <dt>HTML</dt>
            <dd>Some of us can’t see color, confuse shapes and words, have poor hearing, the list goes on. But we all web users in our own right: connecting to internet, consuming information, producing information, and creating the market. And everything starts from a clean, semantic HTML</dd>
        </dl>
        <dl>
            <dt>CSS</dt>
            <dd>Pages are styled so they render correctly in different browsers (cross-browser), different operating systems (cross-platform) and different devices (cross-device), which requires careful planning on the side of the developer.</dd>
        </dl>
        <dl>
            <dt>JS</dt>
            <dd>Interaction is what we look for when publishing any web page. With an eye on performances</dd>
        </dl>
        <dl>
            <dt>Design Systems</dt>
            <dd>AKA how to keep everything together. How to structure the code so that developers can spend their time focusing on what really matters, not regressions and broken layouts. Front end architecture, design systems.</dd>
        </dl>
    </aside>
</section>
{{/inline}}

{{/layouts/about}}