{{#> layouts/base title="FabriPalladino | Front-end developer"}}

{{#*inline "content-block"}}

<header class="fp-page-header">
  <h1>FabriPalladino</h1>
  <h2><mark>UI Specialist</mark> &amp; <mark>Front End Developer</mark></h2>
</header>

<section>
  <div>
    <h3>User Interface Specialist</h3>
    <p>
      After my studies in Management of publishing enterprises, I fell in love with <strong>HTML CSS</strong> and their
      potential, and
      that passion then broaden to include everything that makes the web usable, accessible and reliable.

      I now build accessible interfaces using <strong>HTML CSS</strong> and <strong>Javascript</strong>
    </p>

    <ul>
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
      <li>List item 4</li>
      <li>List item 5</li>
    </ul>
    <a href="/about">Find more baout me</a>
  </div>
  <figure>
    <img src="../images/3.jpeg" alt="">
    <figcaption>
      FabriPalladino
    </figcaption>
  </figure>
</section>

<section>
  <figure>
    <img src="../images/3.jpeg" alt="">
    <figcaption>
      FabriPalladino
    </figcaption>
  </figure>
  <div>

    <strong>This is the strong text</strong>

    <ul>
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
      <li>List item 4</li>
      <li>List item 5</li>
    </ul>
    <a href="/work">See more works</a>
  </div>
</section>

<section style="--fp-grid-columns: 3;">
  <article>
    <strong>This is the strong text</strong>
    <ul>
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
      <li>List item 4</li>
      <li>List item 5</li>
    </ul>
  </article>
  <article>
    <strong>This is the strong text</strong>
    <ul>
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
      <li>List item 4</li>
      <li>List item 5</li>
    </ul>
  </article>
  <article>
    <strong>This is the strong text</strong>
    <ul>
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
      <li>List item 4</li>
      <li>List item 5</li>
    </ul>
  </article>
</section>
{{/inline}}

{{/layouts/base}}