{{#> layouts/base}}
{{#*inline "content-block"}}
{{#> page-content}}
<header class="fp-article__header">
    <img src="../images/4.gif" alt="">
    <h1>Is AI gonna prevail</h1>
</header>
{{/page-content}}
{{/inline}}

{{/layouts/base}}