<footer class="footer">
  <div class="container container--wide footer__inner">
    <p>&copy; {% year %} Fabrizio Palladino</p>

    <div class="footer__links">
      <a href="https://www.linkedin.com/in/fabripalladino/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      <a href="https://github.com/fabripalladino" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a href="mailto:{{ meta.email }}">Email</a>
    </div>
  </div>
</footer>
