section {
  --fp-space-section: var(--fp-space-md);
  --fp-grid-columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--fp-grid-columns), 1fr);
  gap: var(--fp-space-default);
  border-top: var(--fp-section-border);
  padding: var(--fp-space-section) 0;

  &:last-child {
    border-bottom: var(--fp-section-border);
  }

  &--margin {
    margin-top: var(--fp-space-section);
    margin-bottom: var(--fp-space-section);
  }
}
